# ----------- Android Studio / IntelliJ -----------
.idea/
*.iml

# ----------- Gradle -----------
.gradle/
build/
**/build/

# Local config (NO SE SUBE)
local.properties

# ----------- Google Services -----------
# NO SUBIR LLAVES A GITHUB
app/google-services.json

# ----------- Android NDK / CMake -----------
.cxx/
externalNativeBuild/

# ----------- Logs y archivos temporales -----------
*.log
.DS_Store

# ----------- Capturas del emulador -----------
captures/

# ----------- Carpetas que NO deben subirse -----------
daemon/
wrapper/
caches/

# ----------- Sentry -----------
sentry.properties
sentry-wizard.exe

#----------- app ------------
app/release/
*.aab